*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #2b2565 #e8c87278;
}
:root{
    --blue:#2b2565;
    --Gray :#C9D7DD;
}
html {
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue); 
}
body{
    
    background-image: url("../images/background.jpg");
    /* background-color: #0f0a3c; */
    direction: rtl;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
/* start Registration form */
.container{
    color: white;
    width: 900px;
    margin: 50px 0;
    display: flex;
    margin: 70px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.container .image{
    width: 450px;
    display: flex;
    height: 744px;
}
.container .image img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container .image-s{
    width: 450px;
    display: flex;
    height: 358px;
}
.container .image-s img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container form{
    height: fit-content;
}
.container form .content {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 30px 50px;
    background-color:var(--blue);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 50px;
}
.container form .content .paragraph{
    text-align: center;
}
.container form .content .paragraph h1
{
    padding: 10px 0;
}
.container form .content .paragraph h3,
.container form .content .paragraph p{
    padding: 5px 0;
}
.container form .content .row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    /* align-items: center; */
}
.container form .content .row1  label{
    padding:5px 5px 5px 0;
}
.container form .content .row1  input,
.container form .content .row1  select
{
    width: 100%;
    padding: 9px 10px;
    margin: 5px 0 12px;
    outline: none;
}

.container form .content .row2{
    display: flex;
    width: 150px;
    margin: 10px 0 0 0;
    justify-content: space-between;
}
.container form .content .row3 {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.container form .content .row3 input {
    width: 150px;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 900;
}

.container form .content .row3 input:first-child{
    background-color: white;
    color: #2b2565;
    border: none;
}
.container form .content .row3 input:first-child:hover{
    background-color: rgb(192, 191, 191);
    cursor: pointer;
}
.container form .content .row3 input:last-child{
    background-color: #2b2565;
    border: white 1px solid;
    padding: 9px 0;
    color: white;
}
.container form .content .row3 input:last-child:hover{
    background-color:  #191443;
    cursor: pointer;
}
@media(max-width:900px){
    .container .image{
        display: none;
        
    }
    .container{
        width: 450px;
        margin-top: 150px;
    }
    .container form .content{
        border-radius: 20px;
    }
}
/* end Registration form */
 /*  start style Login form */
.container-s{
    display: flex;
    align-items: center;
    height: 500px;
    background-color:var(--blue);
    border-radius: 20px;
    margin: 0;
}
.container-s .image-s{
    height: 100%;
}
.container-s .image-s img{
    height: 100%;
}
.container-s .content-s .paragraph{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}
.container-s .content-s .paragraph h5{
    padding: 5px 0;
    
}
.container-s form .content .row3{
   margin-top: 50px;
    
}


.container form .content .row3 a{
    width: 150px;
    padding: 8px 0;
    margin-top: -6px;
    background-color: #2b2565;
    border: white 1px solid;
    padding: 10px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.container form .content .row3 a:hover{
    background-color:  #191443;
}
 /*  end style Login form */


